body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: content-box;
}
section {
    padding: 50px 0;
}
.container-page {
    width: 70%;
    margin: 0 auto;
    height: 100%;
}
.violet-color {
    color: #754ef9;
}
.bg-lite-gray {
    background-color: #fbfbfb;
}
h1,h2,h3 {
    font-weight: bold;
    text-transform: uppercase;
    color: #32333c;
    text-align: center;
}
h2 {
    width: 100%;
}
.ligray-color {
    color: #707070;
}
/* HEADER */
.main-header h1,
.main-header h2 {
    text-align: left;
}
h1 {
    font-size: 40px;
    font-weight: 700;
}
.main-header {
    height: 100vh;
    background-position: center;
    background-image: url('../img/header-bg.jpg');
    background-size: cover;
}
.half-container {
    width: 100%;
    padding-top: 10%;
    display: flex;
    align-items: center;
    height: 90%;
}
.left-side {
    flex-basis: 50%;
    
}
.main-header .half-container .right-side {
    flex-basis: 50%;
    background-image: linear-gradient(to left, rgba(255,0,0,0), #754ef9);
}
.right-side img{
    width: 426px;
}


/* NAV */
.main-nav h2 {
    width: auto;
}
.main-nav {
    z-index: 9999;
    font-weight: bold;
    background-color: rgb(248, 248, 248);
    width: 100%;
    position: fixed;
    top: 0;
}
.nav-container{
    width: 70%;
    margin: 0 auto;
    padding: 20px 0;
    display: flex; 
    align-items: center;
    justify-content: space-between;
}
.nav-list{
    display: flex;
    margin: 10px;

}
.nav-items{
    text-transform: uppercase;
    list-style: none;
}
.nav-items a{
    text-decoration: none;
    padding: 10px;
    transition: 0.3s ease-in ;
}
.nav-items a:hover{
    color: #32333c
}

/* SECTION ABOUT */
.up-side p {
    text-align: justify;
}
.down-side h3 {
    flex-basis: 100%;
}
.down-side {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.left-side-item {
    display: flex;
    align-items: center;
}
.icons-block-container{
    display: flex;
    align-items: center; 
    justify-content: space-around;
    width: 100%;
}
.page-icon-block {
    position: relative;
    margin: 5px 0;
    width: 150px;
    height: 150px;
}
.icon-item {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 100px;
    height: 100px;
    text-align: center;
}
.icon-item .fab {
    width: 100%;
    transition: 0.3s ease-in;
}
/* SKILS SECTION */
.container-page {
    display: flex;
    flex-wrap: wrap;
}
.galery-item {
    height: 300px;
    flex-basis: 25%;
    position: relative;
}
.galery-item h3{
    background-color: #754ef9;
    color: #fff;
    margin: 0;
    line-height: 300px;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: 0.5s ease-in-out;
}
.galery-item img {
    width: 100%;
}
.galery-item:hover > h3 {
    opacity: 0.9;
}
/* INTREST SECTION */
.intrest-section img {
    width: 100%;
}
.intrest-section .right-side {
    flex-basis: 50%;
    padding-left: 20px;
}
.intrest-section .right-side h3{
    width: 100%;
}
/* CONTACT */
.contact-section .left-side,
.contact-section .right-side {
    background-color: #fff;
    flex-basis: 40%;
    padding: 15px 0;
}
.contact-section .half-container {
    justify-content: space-evenly;
    text-align: center;
    padding-top: 10px;
}
/* FOOTER */
.footer-inner {
    height: 20vh;
    background-color: #1c2940;
}
.footer-inner p {
    font-size: 15px;
    text-align: center;
    color: #fff;
    line-height: 20vh;
}