*{
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}
section {
    padding: 100px 0;
}
.container-page {
    width: 70%;
    margin: 0 auto;
    height: 100%;
}
.violet-color {
    color: #754ef9;
}
.bg-lite-gray {
    background-color: #f0f0f0;
}
.bg-white {
    background-color: #fff;
}
h1,h2,h3 {
    font-weight: bold;
    text-transform: uppercase;
    color: #32333c;
    text-align: center;
}
h2 {
    width: 100%;
}
.ligray-color {
    color: #707070;
}
/* HEADER */
.main-header h1,
.main-header h2 {
    text-align: left;
}
h1 {
    font-size: 40px;
    font-weight: 700;
}
.main-header {
    height: 100vh;
    background-position: center;
    background-image: url('../img/header-bg.jpg');
    background-size: cover;
}
.half-container {
    width: 100%;
    padding-top: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90%;
}
.left-side {
    flex-basis: 45%;
    
}
.main-header .half-container .right-side {
    padding: 0;
    flex-basis: 45%;
    top: 20px;
    position: relative;
}
.right-side img{
    width: 400px;
    box-shadow: 7px 7px 20px 0px;
}


/* NAV */
.main-nav h2 {
    flex-basis: 30%;
}
.main-nav {
    z-index: 9999;
    font-weight: bold;
    background-color: rgb(248, 248, 248);
    width: 100%;
    position: fixed;
    top: 0;
}
.nav-container,
.nav-list{
    display: flex;
}
.nav-container{
    width: 70%;
    margin: 0 auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nav-list{
    flex-basis: 100%;
    justify-content: flex-end;
    margin: 10px 0;

}
.nav-items{
    text-transform: uppercase;
    list-style: none;
}
.nav-items a{
    text-decoration: none;
    padding: 10px;
    transition: 0.3s ease-in ;
}
.nav-items a:hover{
    color: #32333c
}
.nav-list-holder{
    width: 70%;
}

/* NAV MOBILE */

label {
    display: none;
    text-align: right;
    flex-basis: 70%;
}
input[type=checkbox],
.my-photo
{
    display: none;
}

/* SECTION ABOUT */

.down-side,
.left-side-item,
.icon-container{
    display: flex;
}
.up-side p {
    text-align: justify;
    margin: 50px 0;
    font-size: 17px;
}
.down-side h3 {
    flex-basis: 100%;
}

.down-side {
    flex-wrap: wrap;
    width: 100%;
}
.left-side-item {
    align-items: center;
}

/* ICONS */

.icon-item {
    transition: 0.3s ease-in-out;
    padding: 15px 0;
}
.icon-item:hover {
    box-shadow: 0 0 15px #999;
}
.icon-container a {
    flex-basis: 20%;
    text-decoration: none;
}
 .icon-container {
    justify-content: space-between  ;
    text-align: center;
    padding-top: 10px;
    width: 100%;
}

/* SKILS SECTION */

.article-box,
.article-description ul {
    display: flex;
    height: 100%;
}
.article-title h3,
.article-description ul,
.article-description p {
    margin: 0;
}

.skils-article{
    background-color: #fff;
    margin: 30px 0;
    transition: 0.3s ease-in-out;
}
.skils-article:hover {
    box-shadow: 0 0 15px;
}

.article-title {
    background-color: #cfcfcfa8 ;
    height: 100%;
    flex-basis: 40%;
}
.article-title h3 {
    line-height: 70px;
}
.article-description {
    flex-basis: 70%;
}
.article-description ul {
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
    flex-direction: row;
}
.article-description ul li{
    margin: 0 15px;
    line-height: 100%;
}
.article-description p {
    line-height: 70px;
}

/* INTREST SECTION */

.intrest-section .left-side,
.right-side {
    width: 50%;
}
.intrest-section img,
.intrest-section .right-side h3 {
    width: 100%;
}
.intrest-section .left-side {
    position: relative;
}
.right-side {
    padding: 0 20px;
}
.down-article {
    flex-direction: row-reverse;
}

/* CONTACT */
.contact-section .icon-container {
    flex-wrap: nowrap;
}
.contact-section .icon-container a {
    flex-basis: 30%;
}

/* FORM */

.contact-section form {
    margin: 0 auto;
    width: 70%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}
.contact-section input,
.contact-section textarea{
    color: #707070;
    font-family: 'Lato', sans-serif;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 15px 0;
    width: 100%;
    transition: 0.3s ease-in-out;
}
.contact-section input {
    height: 55px;
}
.contact-section input:focus, 
.contact-section textarea:focus {
    box-shadow: 0 0 5px #754ef9;
}
.contact-section textarea {
    height: 100px;
}
.contact-section button {
    font-size: 15px;
    font-weight: 700;
    border: 0px;
    font-family: 'Lato', sans-serif;
    width: 30%;
    height: 40px;
    color: #fff;
    border-radius: 12px;
    background-color: #754ef9;
    transition: 0.3s ease-in;
}
.contact-section button:hover {
    background-color: #32333c;
    box-shadow: 0 0 15px #754ef9;
}

/* FOOTER */

.footer-inner {
    height: 20vh;
    background-color: #1c2940;
}
.footer-inner p {
    margin: 0;
    font-size: 15px;
    text-align: center;
    color: #fff;
    line-height: 20vh;
}